@use '../../../../../styles/mixins' as m;
@use '../../../../../styles/mixins-button' as mb;

.new-article {
  // conteneur globale
  @include m.card-styles;

  &__form {
    // conteneur du formulaire
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;

    &__label {
      grid-column: 1;
      margin: 5px;
    }
    &__input {
      grid-column: 2;
    }
  }
}
