@use '../../styles/mixins' as m;

.cgu {
  // border: 1px solid red;
  // text-align: left;
  @include m.card-styles;
  width: 80vw;
  max-width: 900px;
  // margin: 20px;
}

.cgu__description {
  &__h2 {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  &__content {
    padding-bottom: 20px;
    text-align: start;
  }
}
.cgu__section {
  &__h3 {
    padding-bottom: 2px;
    text-align: start;
  }
  &__content {
    padding-bottom: 10px;
    text-align: start;
    font-style: italic;
  }
}

// @media (min-width: 900px) {
//   .cgu {
//     width: 900px;
//   }
// }
