@use '../../../../../styles/mixins' as m;
@use '../../../../../styles/mixins-button' as mb;

.new-event {
  // conteneur globale
  @include m.card-styles;
  max-width: 800px;

  &__form {
    // conteneur du formulaire
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;

    &__label {
      grid-column: 1;
      margin: 5px;

      // padding: 5px;
      // font-size: 1rem;
      // border-width: 2px;
      // border-color: rgba(255, 255, 255, 0.18);
      // background-color: #142e4a;
      // color: #ffffff;
      // border-style: groove;
      // border-radius: 10px;
    }
    &__input {
      grid-column: 2;
    }
  }
}
