@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;
@use '../../styles/mixins-button' as mb;

.img {
  object-fit: cover;
  // object-position: top;
}
.card-article {
  margin-bottom: 50px;
  box-shadow: 0px 1px 2px rgba(198, 53, 117, 0.5),
    0px 2px 4px rgba(198, 53, 117, 0.5), 0px 4px 8px rgba(198, 53, 117, 0.5),
    0px 8px 16px rgba(198, 53, 117, 0.5);
  &:hover {
    @include m.hover;
    transform: scale(
      /*  la carte s'agrandira de 10% lorsque la souris sera passée dessus */
        1.1
    );
  }

  &__link {
    text-decoration: none !important;
  }

  &__img {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
  }

  &__info {
    color: white;
    padding: 10px;

    &__top-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      &__category {
        padding: 5px;
        background: #c63575;
        font-size: small;
        border-radius: 5px;
      }
      &__date {
        color: #c63575;
        font-size: 12px;
        font-style: italic;
      }
      &__author {
        color: #c63575;
        font-size: 9px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    &__title {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 20px;
      letter-spacing: 1px;
    }
    &__content {
      // text-align: center;
      color: #cbbac1;
      font-size: 12px;
    }
  }
}

// STYLE POUR LES BOUTONS MODIFIER ET SUPPRIMER DU DASHBOARD
.dashboard-btn {
  display: flex;
  justify-content: space-between;
  padding: 10px;

  &__button {
    padding: 20px 40px;
    background-color: #c63575;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.734);
    &:hover {
      color: #ffffff;
      text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px;
    }
    &--edit {
      background-color: green;
    }
    &--delete {
      background-color: red;
    }
  }
}
