.event {
  border: 1px solid white;
  margin: 20px;
  padding: 10px;
  text-align: center;
  background-color: #123a56;

  &__teams {
    display: flex;
    justify-content: center;
  }
}

.future .event__name {
  color: red;
}
