@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;
@font-face {
  font-family: 'CyberwayRiders';
  src: url('/fonts/CyberwayRiders.ttf') format('truetype');
}

.futur-event {
  padding: 10px;
  background: rgba(40, 39, 39, 0.495);
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(198, 53, 117, 0.5),
    0px 2px 4px rgba(198, 53, 117, 0.5), 0px 4px 8px rgba(198, 53, 117, 0.5),
    0px 8px 16px rgba(198, 53, 117, 0.5);

  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 20px 80px;
    border-radius: 30px;
  }

  &__description {
    padding: 10px;

    &__name {
      padding-bottom: 5px;
      color: white;
      letter-spacing: 1px;
      font-size: 14px;
    }
    &__date {
      color: #c63575;
      font-size: 14px;
      letter-spacing: 1px;
    }
  }

  &__teams {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 50px;
    @media screen and (min-width: 1200px) {
      gap: 40px;
    }

    &__home {
      color: white;
      &__logo {
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(135, 31, 126, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 70px; // taille  pour les logos
        height: 70px;
        position: relative;
        object-fit: contain; // logos s'adaptent à l'espace disponible
      }
      &__initials {
        padding: 5px;
        text-align: center;
      }
    }

    &__versus {
      color: white;

      &.custom-font {
        font-family: 'CyberwayRiders', sans-serif;
      }
    }
    &__score {
      color: white;
    }

    &__away {
      color: white;
      &__logo {
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(135, 31, 126, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        width: 60px; // taille  pour les logos
        height: 60px;
        position: relative;
        object-fit: contain; // logos s'adaptent à l'espace disponible
      }
      &__initials {
        padding: 5px;
        text-align: center;
      }
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    @media screen and (min-width: 1200px) {
      justify-content: flex-end;
    }

    &__white-neon {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      background-color: #c63575;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        color: #ffffff;
        text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px;
      }
    }
  }
}
