@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;
@use '../../styles/mixins-button' as mb;

.button {
  @include mb.button;
}

.button-edit {
  @include mb.button-edit;
}

.button-delete {
  @include mb.button-delete;
}

.article {
  @include m.card-styles;

  --img-scale: 1.001;
  --title-color: white;
  position: relative;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  padding: 0;

  &__title {
    margin: 1.6em;
    font-family: 'Righteous', sans-serif;
    color: var(--title-color);
    text-transform: uppercase;
    font-size: 2.1rem;
  }

  &__img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .img {
    object-fit: cover;
    object-position: top;
  }
  &__content {
    margin: 1.6em;
    font-size: 1.6rem;
  }
  &__category {
    background-color: v.$color;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
  }
  &__date,
  &__update,
  &__author {
    font-size: small;
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    margin: 1.6em;
  }
}

@media (min-width: 1024px) {
  .article {
    width: 400px; /* ajuster la largeur de la carte */
    transition: transform 0.3s ease; /* transition en douceur lorsque la carte s'agrandit */

    &:hover {
      @include m.hover;
    }
  }
  .article__img {
    // a voir pour le layout
    width: 100%;
    height: 350px;
  }

  .articles__home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
