@use '../../../../styles/mixins-button' as m;

.new-article {
  display: flex;
  justify-content: center;
}
.article{
  border-radius: 50px solid;
}
.articles__dashboard {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-around;
}

.article-box {
  margin: 1.6em;
  width: 400px;
}
