@import '../styles/reset.scss';

:root {
  font-size: 62.5%; // Règle des 62.5% (ex: 23px = 2.3rem)
  background-color: #142e4a;

  .wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1;
  }

  .header-menu {
    opacity: 1;
    height: auto;
    background-color: #142e4a;
    visibility: visible;
    max-height: 100vh;
    transition: max-height 0.3s ease;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style-type: none;
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
      max-height: 0;
      transition: max-height 0.3s ease;
    }
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #123a56;

    .line {
      display: block;
      width: 20px;
      height: 4px;
      background-color: #c63575;
      transition: transform 0.3s ease-out, opacity 0.1s ease-out;
      margin-bottom: 4px;
      margin-right: 20px;
    }

    .burger-menu.active {
      .line:nth-child(1) {
        transform: rotate(135deg) translate(3px, -4px);
        width: 25px;
      }

      .line:nth-child(2) {
        opacity: 0;
      }

      .line:nth-child(3) {
        transform: rotate(-135deg) translate(7px, 8px);
        width: 25px;
      }
    }
  }

  .header-link {
    color: white;
    font-size: 2.3rem;
    text-decoration: none;

    &:hover {
      color: red;
    }
  }

  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px;

      img {
        width: 50px; //Ajuster la taille
        height: 50px; //Ajuster la taille
      }

      span {
        color: white;
        font-size: 1.6rem;
        margin-top: 5px;
      }
    }
  }

  // Footer
  .footer {
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 1;

    &__container {
      display: flex;
      justify-content: space-around;
      background-color: #123a56;
    }
    &__logo {
      justify-content: flex-start;
      align-items: flex-end;
    }
    &__links {
      justify-content: center;
      align-items: flex-start;
    }
    &__links-list {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 20px;
      color: white;
    }
    &__link {
      color: white;
      text-decoration: none;
    }
    &__social {
      display: flex;
      justify-content: flex-end;
    }
    &__additional-link {
      text-decoration: none;
      color: white;
      padding: 20px;
    }
  }
}
