.article__img {
  // width: 500px;
  height: 150px;
  position: relative;
}

.img {
  object-fit: contain; /*?*/
}

.article {
  width: 90%;
  background-color: #123a56; 
  border-radius: 10px; 
  padding: 20px; /* espace intérieur de la carte */
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease; /* transition en douceur lorsque la carte s'agrandit */

  box-shadow:
  0 0 20px #c63575,
  0 0 15px #354dc6,
  0 0 10px #c63575,
  0 0 10px #c63575;
    /* Ajout des styles pour centrer la carte */
    margin-left: auto;
    margin-right: auto;
}
.article:hover {
  transform: scale(1.10); /*  la carte s'agrandira de 10% lorsque la souris sera passée dessus */
}

.article__content {
  background-color: rgb(255, 0, 25);
}

@media (min-width: 1024px) {

  .article {
    width: 300px; /* ajuster la largeur de la carte */
    height: 350px; 

  }

  .article__img { // a voir pour le layout 
    width: 100%;
    height: 350px; /* ajuster la taille de l'image dans la carte en media query */
  }

  .articles__home {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 50px;
    
  }
  
}