@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.article-container {
  margin: 10px 20px;
  background: rgb(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;

  border-radius: 2rem;
  @media screen and (min-width: 1200px) {
    width: 1000px;
    margin: 10px 0px 1px calc(50% - 500px);
    padding: 0 100px 100px 100px;
  }

  &__img {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
  }

  &__info {
    color: white;
    padding: 10px;

    &__top-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      &__category {
        padding: 5px;
        background: #c63575;
        font-size: small;
        border-radius: 5px;
      }
      &__date {
        color: #c63575;
        font-size: 16px;
        font-style: italic;
      }
      &__author {
        color: #c63575;
        font-size: 9px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    &__title {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      font-size: 30px;
      letter-spacing: 1px;
      @media screen and (min-width: 1200px) {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
    &__content {
      padding: 10px;
      font-size: 16px;
    }
  }
}
