@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.team {
  margin-bottom: 50px;

  &__title {
    margin-top: 50px;
    font-size: 38px;
  }
  &__sub-title {
    margin-bottom: 50px;
  }
}

.card-container {
  height: 150px;
  min-width: 350px;
  margin: 20px;
  box-shadow: 0px 1px 2px rgba(198, 53, 117, 0.5),
    0px 2px 4px rgba(198, 53, 117, 0.5), 0px 4px 8px rgba(198, 53, 117, 0.5),
    0px 8px 16px rgba(198, 53, 117, 0.5);
  border-radius: 15px;
  @media screen and (min-width: 1200px) {
    width: 600px;
    margin: 20px 0 20px calc(50% - 300px);
  }

  &__member {
    display: flex;
    height: 100%;
    // border-radius: 10px;

    &__image-container {
      position: relative;
      top: 10%;
      left: 1.6em;
      height: 80%;
      aspect-ratio: 1/1;
      margin-right: 4em;
      @media screen and (min-width: 1200px) {
        left: 4em;
        margin-right: 12em;
      }
      &__img {
        object-fit: cover;
        object-position: top;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(255, 59, 239, 0.5);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        //border: 1px solid rgba(255, 255, 255, 0.18);
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px;
      color: white;

      &__username {
        font-size: 25px;
        @media screen and (min-width: 1200px) {
          font-size: 35px;
        }
      }
      &__fullname {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #c63575;
      }
      &__role {
        font-size: 14px;
      }
    }
  }
}

.videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video {
  @include m.shadow-styles;
  aspect-ratio: 16/9;
  width: 45%;
  height: auto;
  min-width: 400px;
  // margin-right: 2em;
  margin-bottom: 3em;
}
