@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;

.card-member {
  @include m.card-styles;
  min-width: 90%;

  &__image {
    height: 100px;
    width: 100px;
    position: relative;
  }

  .img {
    border-radius: 60%; 
    object-fit: cover;
  }
  

  &__details {
    display: flex;
    flex-direction: column;
    margin-right: -200px;
    justify-content: center;
    margin-top: -81px;
    color: white;
    text-decoration: none;
    font-size: 15px;

  }

   &__fullname {
   display: none;
  }
}